@import "@material/theme/variables";

// Select element
$mdc-select-height: 47px !default;

// TextField element
$mdc-text-field-height: 47px !default;

// Switch element
$mdc-switch-baseline-theme-color: #964BEB !default;
